body {
    background-image: url("https://mobimg.b-cdn.net/v3/fetch/d0/d0e45034fed282d858254cf36879fa14.jpeg?w=1470&r=0.5625");
}

.wrapper {
    position: absolute;
    top: 90px;
    left: 400px;
    width: 500px;
    height: 570px;
    border: 3px solid green;
    border-radius: 20px;
    background-color: rgb(200, 216, 200); 
}

.change_account {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 470px;
    height: 540px;
    border: 0.5px solid green;
    border-radius: 10px;  
    background-color: rgb(242, 239, 235);
}    

/* стили для form_label */
.form_name_label {
    position: absolute;
    top: 40px;
    left: 20px;
    display: block;
    margin-bottom: 0.25rem;
}

.form_email_label {
    position: absolute;
    top: 110px;
    left: 20px;
    display: block;
    margin-bottom: 0.25rem;
}

.form_telephone_label {
    position: absolute;
    top: 180px;
    left: 20px;
    display: block;
    margin-bottom: 0.25rem;
}

.form_age_label {
    position: absolute;
    top: 250px;
    left: 20px;
    display: block;
    margin-bottom: 0.25rem;
}  

.form_address_label {
    position: absolute;
    top: 340px;
    left: 20px;
    display: block;
    margin-bottom: 0.25rem;
}  


  /* стили для form_field */
.form_name {
    position: absolute;
    top: 40px;
    left: 150px;
    display: block;
    width: 270px;
    height: 20px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    color: #212529;
    background-color: #fff;
    border: 1px solid #6fc17e;
    border-radius: 10px;
    
}

.form_email {
    position: absolute;
    top: 110px;
    left: 150px;
    display: block;
    width: 270px;
    height: 20px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    color: #212529;
    background-color: #fff;
    border: 1px solid #6fc17e;
    border-radius: 10px;
    
}

.form_telephone {
    position: absolute;
    top: 180px;
    left: 150px;
    display: block;
    width: 270px;
    height: 20px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    color: #212529;
    background-color: #fff;
    border: 1px solid #6fc17e;
    border-radius: 10px;
    
}

.form_age {
    position: absolute;
    top: 250px;
    left: 150px;
    display: block;
    width: 270px;
    height: 20px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    color: #212529;
    background-color: #fff;
    border: 1px solid #6fc17e;
    border-radius: 10px;
    
}  

.form_address {
    position: absolute;
    top: 340px;
    left: 150px;
    display: block;
    width: 270px;
    height: 60px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    color: #212529;
    background-color: #fff;
    border: 1px solid #6fc17e;
    border-radius: 10px;
    
}    

#link_save_account {
    position: relative;
    top: 130px;
    left: 220px;
}

.form_submit { 
    position: absolute;
    top: 450px;
    left: 170px;
    width: 150px;
    height: 37px;
    text-align: center;
    color: white;
    background-color: rgb(74, 154, 74);
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    border: 2px solid green; /* фон кнопки */
    border-radius: 10px;
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}

.flash {
    position: relative;
    top: 190px;
    left: 35px;
    width: 400px;
    height: 30px;
    border-radius: 8px;
    border: green;
    text-align: center;
}


.flash.success {
	border: 1px solid #21DB56;
	background: #AEFFC5;
}
.flash.error {
	border: 1px solid #FF4343;
	background: #FF9C9C;
}

#user_name {
    position: relative;
    top: 0px;
    left: 150px;
}

#user_email {
    position: relative;
    top: 45px;
    left: 150px;
}

#user_telephone {
    position: relative;
    top: 40px;
    left: 150px;
}

#user_age {
    position: relative;
    top: 45px;
    left: 150px;
}

#user_address {
    position: relative;
    top: 45px;
    left: 150px;
}

.form_submit:hover{ background: rgb(126, 218, 158); }