/***** START TEMPLATES_PAGES.HTML *****/

@import url('"https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #AEFFC5;
}

.card{
    background: #AEFFC5;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 

}


.grid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 600px 600px;
    align-items: center;
    height: 35rem;
    justify-items: end;
}


.error{
    z-index: 1;
    position: relative;
}

.error span{
    font-size: 90px;
    color: #150035;
    font-weight: 900;
    white-space: pre-line;
    line-height: 1;
    letter-spacing: 3px;
    text-shadow: 1px 7px 1px #fff;
}
.error p{
    color: #210202;
    white-space: pre-line;
    padding-top: 25px;
    font-size: 30px;
    line-height: 1.3;
}
.img{width: 800px;}
.img img{
    width: 100%;
}
button{
    width: 200px;
    padding: 8px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
    border-radius: 10px;
    border: none;
    background-color:#f1c30a ;
    color:#100a01 ;
    position: relative;

}
button::after{
    content: '';
    width: 200px;
    height: 35px;
    position: absolute;
    top: 7px;
    left: 5px;
    z-index: -1;
}

button:hover{ background: rgb(233, 242, 55); }


