<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet" />
    <title>Восстановление учетной записи</title>
</head>
<body>
    <div class="login">
        <div class="header">Восстановление учетной записи</div>
        <div class="inside">
            <form class="form" action="" method="post">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                {{ form.email.label(class="form_email_label") }}
                {{ form.email(class="form_email", placeholder='Введите email указанный при регистрации') }}
                {{ form.submit }}
            </form>
            {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{ cat }}">{{ msg }}</div>
            {% endfor %}
            <a id="back" href="{{ url_for('login') }}">Назад</a>
        </div>
    </div>
</body>
</html>