<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet" />
    <title>Смена пароля</title>
</head>
<body>
    <div class="login">
        <div class="header">Смена пароля</div>
        <div class="inside">
            <form class="form" action="" method="post">
                {{ form.hidden_tag() }}<br><br>
                {{ form.password.label() }}<br>
                {{ form.password() }}<br><br>
                {{ form.new_password.label() }}<br>
                {{ form.new_password() }}<br><br>
                <br>
                <p id="submit_save">{{ form.submit() }}</p>
            </form>
            {% if flag == True %}
                <a id="back_" href="{{ url_for('user_profile', username=username) }}">Назад</a>
            {% else %}
                <a id="password_recovery" href="{{ url_for('password_recovery') }}">Забыли пароль?</a>
            {% endif %}    
            {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{ cat }}">{{ msg }}</div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

