<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet" />
    <title>Главная</title>
</head>
<header>
    <div class="header">
        <a href="{{ url_for('login') }}" id="login">Профиль</a>
        <a href="{{ url_for('user_basket', username=current_user.username) }}" id="basket">Корзина</a>
        <div class="info">
            <p>Адрес: Волжск, ул.Ленина 52</p>
            <p>Ежедневно, 10:00–22:00</p>
        </div>
        <div class="info_telephone">
            <p>Заказ столика: +7 (960) 095-99-55</p>
            <p>Доставка: +7 (960) 095-99-55</p>
        </div>
        <p id="name_restoran">Modernissimo</p>
        <div id="clock"></div>
    </div>
</header>
<body>
   <div class="product_1">
        <div id="product_1_foto"></div>
        <div id="product_1_description">
            {% for product in products %}
            {% if product.product_name == 'ветчина с шампиньонами' %}
                <p id="product_name">Пицца {{ product.product_name }}</p>
                <p id="product_description">{{ product.descriptions }} {{ product.price }} руб</p>
                <form class="form" action="" method="post">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    {{ form.count(class="form_data") }}
                    {{ form.product_id(class="form_title", value=1) }}
                    {{ form.submit(class="form_submit") }}
                </form> 
            {% endif %}    
            {% endfor %}     
        </div>
   </div> 
   <div class="product_2">
        <div id="product_2_foto"></div>
        <div id="product_2_description">
            {% for product in products %}
            {% if product.product_name == 'дьявол' %}
                <p id="product_name">Пицца {{ product.product_name }}</p>
                <p id="product_description">{{ product.descriptions }} {{ product.price }} руб</p>
                <form class="form" action="" method="post">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    {{ form.count(class="form_data") }}
                    {{ form.product_id(class="form_title", value=2) }}
                    {{ form.submit(class="form_submit") }}
                </form>
            {% endif %}    
            {% endfor %}
        </div>
   </div> 
   <div class="product_3">
        <div id="product_3_foto"></div>
        <div id="product_3_description">
            {% for product in products %}
            {% if product.product_name == 'капризная' %}
                <p id="product_name">Пицца {{ product.product_name }}</p>
                <p id="product_description">{{ product.descriptions }} {{ product.price }} руб</p>
                <form class="form" action="" method="post">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    {{ form.count(class="form_data") }}
                    {{ form.product_id(class="form_title", value=3) }}
                    {{ form.submit(class="form_submit") }}
                </form>
            {% endif %}    
            {% endfor %}
        </div>
   </div>
   <div class="product_4">
        <div id="product_4_foto"></div>
        <div id="product_4_description">
            {% for product in products %}
            {% if product.product_name == 'маргарита' %}
                <p id="product_name">Пицца {{ product.product_name }}</p>
                <p id="product_description">{{ product.descriptions }} {{ product.price }} руб</p>
                <form class="form" action="" method="post">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    {{ form.count(class="form_data") }}
                    {{ form.product_id(class="form_title", value=4) }}
                    {{ form.submit(class="form_submit") }}
                </form>
            {% endif %}    
            {% endfor %}
        </div>
   </div>
   <div class="product_5">
        <div id="product_5_foto"></div>
        <div id="product_5_description">
            {% for product in products %}
            {% if product.product_name == 'морская' %}
                <p id="product_name">Пицца {{ product.product_name }}</p>
                <p id="product_description">{{ product.descriptions }} {{ product.price }} руб</p>
                <form class="form" action="" method="post">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    {{ form.count(class="form_data") }}
                    {{ form.product_id(class="form_title", value=5) }}
                    {{ form.submit(class="form_submit") }}
                </form>
            {% endif %}    
            {% endfor %}
        </div>
   </div>
   <div class="product_6">
        <div id="product_6_foto"></div>
        <div id="product_6_description">
            {% for product in products %}
            {% if product.product_name == 'римская' %}
                <p id="product_name">Пицца {{ product.product_name }}</p>
                <p id="product_description">{{ product.descriptions }} {{ product.price }} руб</p>
                <form class="form" action="" method="post">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    {{ form.count(class="form_data") }}
                    {{ form.product_id(class="form_title", value=6) }}
                    {{ form.submit(class="form_submit") }}
                </form>
            {% endif %}    
            {% endfor %}
        </div>
   </div>
   <div class="product_7">
        <div id="product_7_foto"></div>
        <div id="product_7_description">
            {% for product in products %}
            {% if product.product_name == 'с салями' %}
                <p id="product_name">Пицца {{ product.product_name }}</p>
                <p id="product_description">{{ product.descriptions }} {{ product.price }} руб</p>
                <form class="form" action="" method="post">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    {{ form.count(class="form_data") }}
                    {{ form.product_id(class="form_title", value=7) }}
                    {{ form.submit(class="form_submit") }}
                </form>
            {% endif %}    
            {% endfor %}
        </div>
   </div>
   <div class="product_8">
        <div id="product_8_foto"></div>
        <div id="product_8_description">
            {% for product in products %}
            {% if product.product_name == 'тунец с луком' %}
                <p id="product_name">Пицца {{ product.product_name }}</p>
                <p id="product_description">{{ product.descriptions }} {{ product.price }} руб</p> 
                <form class="form" action="" method="post">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    {{ form.count(class="form_data") }}
                    {{ form.product_id(class="form_title", value=8) }}
                    {{ form.submit(class="form_submit") }}
                </form>
            {% endif %}    
            {% endfor %}
        </div>
   </div>
   <div class="product_9">
        <div id="product_9_foto"></div>
        <div id="product_9_description">
            {% for product in products %}
            {% if product.product_name == 'четыре сыра' %}
                <p id="product_name">Пицца {{ product.product_name }}</p>
                <p id="product_description">{{ product.descriptions }} {{ product.price }} руб</p> 
                <form class="form" action="" method="post">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    {{ form.count(class="form_data") }}
                    {{ form.product_id(class="form_title", value=9) }}
                    {{ form.submit(class="form_submit") }}
                </form>
            {% endif %}    
            {% endfor %}
        </div>
   </div>
</body>
<footer class="footer">
    <div class="footer_info">
        <p>©️ 2024</p>
    </div>
    <a href="{{ url_for('administrator') }}" id="admin">администратор</a>
    <div class="social-icons">
        <a href="https://wa.me/+79600959955" target="_blank">
          <img src="static/img/icons/icons8-whatsapp.svg" alt="Whatsapp Icon">
        </a>
        <a href="https://vk.com/modernissimodolcevita" target="_blank">
          <img src="static/img/icons/VK.svg" alt="VK Icon">
        </a>
    </div>
</footer>
<script src="/static/js/main.js"></script>
</html>


