<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet" />
    <title>Авторизация</title>
</head>
<body>
    <div class="login">
        <div class="header">Авторизация</div>
        <div class="inside">
            <form class="form" action="" method="post">
            {{ form.csrf_token }}
            <p>
                {{ form.username.label() }}
                {{ form.username() }}<br><br>
                {% if form.username.errors %}
                {% for error in form.username.errors %}
                    {{ error }}
                {% endfor %}
                {% endif %}
            </p>
            <p>
                {{ form.password.label() }}
                {{ form.password() }}<br><br>
                {% if form.password.errors %}
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
                {% endif %}
            </p>
            <p>
                {{ form.remember.label() }}
                {{ form.remember() }}
            </p>
                {{ form.submit() }}
            </form>
            {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{ cat }}">{{ msg }}</div>
            {% endfor %}
        </div>
    </div>
</body>
</html>