{% extends 'base.html' %}

{% block title %}Восстанвление пароля{% endblock %}

{% block content %}
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active">Восстановление пароля</h2>
      
      <!-- Icon -->
      <div id="icon">
        <img src="/static/img/icon_email.png"  id="icon" alt="Email Icon" />
      </div>

      <!-- Login Form -->
      <form action="{{ url_for('send_password_email') }}">
        <input type="text" id="email" class="fadeIn second" name="email" placeholder="Введите email указанный при регистрации">
        <input type="submit"  class="fadeIn fourth" value="Отправить">
      </form>
      
    </div>
  </div>
{% endblock %}

