{% extends 'base.html' %}

{% block title %}Восстанвление пароля{% endblock %}

{% block content %}
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active">Восстановление пароля</h2>
      
      <!-- Icon -->
      <div id="icon">
        <img src="/static/img/icon_email.png"  id="icon" alt="Email Icon" />
      </div>

      <!-- Login Form -->
      <form action="/password_recovery/" method="post">
        {{ form.csrf_token }}
        <p id="email" class="fadeIn second">{{ form.email.label }} {{ form.email }}</p>
        <p class="fadeIn fourth">{{ form.submit }}</p>
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }}">{{ msg }}</div>
        {% endfor %}
      </form>    
    </div>
  </div>
{% endblock %}

