<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/save_form_account.css')}}" rel="stylesheet" />
    <title>Изменение учетной записи пользователя {{ user.username }}</title>
</head>
<body>
    <div class="wrapper">
        <div class="change_account">
            <form action="" method="post">   
                {{ form.csrf_token }}
                <p>
                    {{ form.name.label(class="form_name_label") }}
                    {% if user.name %}
                        {{ form.name(class="form_name", value=user.name) }}
                    {% else %}    
                        {{ form.name(class="form_name", placeholder='Введите имя') }}
                    {% endif %}
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                <p>
                    {{ form.email.label(class="form_email_label") }}
                    {{ form.email(class="form_email", value=user.email) }}
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                <br>
                <p>
                    {{ form.telephone.label(class="form_telephone_label") }}
                    {% if user.telephone %}
                        {{ form.telephone(class="form_telephone", value=user.telephone) }}
                    {% else %}    
                        {{ form.telephone(class="form_telephone", placeholder='Введите телефон') }}
                    {% endif %}
                    {% for error in form.telephone.errors %}
                        {{ error }}
                    {% endfor %}
                <br>
                <p>
                    {{ form.age.label(class="form_age_label") }}
                    {% if user.age %}
                        {{ form.age(class="form_age", value=user.age) }}
                    {% else %}    
                        {{ form.age(class="form_age", placeholder='Введите возраст') }}
                    {% endif %}
                    {% for error in form.age.errors %}
                        {{ error }}
                    {% endfor %}
                <br>
                <p>
                    {{ form.address.label(class="form_address_label") }}
                    {% if user.address %}   
                        {{ form.address(class="form_address", value=user.address) }}
                    {% else %}    
                        {{ form.address(class="form_address", placeholder='Введите адрес (город, улица, дом, кв.)') }}
                    {% endif %}
                    {% for error in form.address.errors %}
                        {{ error }}
                    {% endfor %}
                    
                {{ form.submit(class="form_submit") }}
            </form> 
            <a id="link_save_account" href="{{ url_for('user_profile', username=user.username) }} ">Назад</a><br>
            {% for cat, msg in get_flashed_messages(True) %}
                <div class="flash {{ cat }}">{{ msg }}</div>
            {% endfor %}
        </div> 
    </div>    
</body>
</html>